body {
  background-color: white;
}

.main-section {
  width: 1512px;
  height: 816px;
  padding: 0px 0px 120px 0px;
  gap: 40px;
  opacity: 0px;
}
.container-header {
  width: 1208px;
  height: 64px;
  padding: 0px 116px 0px 116px;
  gap: 85px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container-img-a {
  width: 730px;
  height: 60px;
  gap: 16px;
}
.logo {
  width: 60px;
  height: 60px;
}
.nav-bar {
  display: flex;
  gap: 20px;
}
.text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #1e1f27;
}
.phone-container {
  width: Hug (393px) px;
  height: Hug (64px) px;
  gap: 32px;
  align-content: center;
}
.number-phone {
  margin-left: 20px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
.content-img-phone {
  display: flex;
  align-items: center;
}
.phone {
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}
.donate {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ff5777;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}
.donate:hover {
  background-color: #e03f5f;
}

.container-img-a {
  display: flex;
  align-items: center;
}
.nav-bar {
  margin-left: 20px;
}
.style-button-2 {
  width: 181px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  gap: 8px;
  border: solid 1px;
  border-radius: 32px;
  font-family: Poppins;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d9a;
  color: white;
  margin-left: 20px;
}

.line {
  width: 1250px;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 100px;
}
/* Css container-section-1  */

.container-section-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 616px;
  gap: 40px;
  opacity: 0px;
  margin-top: 70px;
}

.content-section-1 {
  text-align: center;
  width: 584px;
  height: 555px;
  gap: 48px;
  opacity: 0px;
  display: flex;
  flex-flow: column nowrap;
}

.img-content {
  width: 584px px;
  height: 616px px;
  padding: 0px 28px 0px 28px;
  gap: 0px;
  opacity: 0px;
  margin-top: 40px;
}

.column-p {
  width: 584px;
  height: 368px;
  gap: 24px;
  opacity: 0px;
}

.column-p h1 {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  text-align: left;
}

.column-p p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
}

.content-h2-button {
  width: Fill (584px);
  height: 139px;
  gap: 24px;
  opacity: 0px;
  text-align: left;
  margin-top: 40px;
}
.content-h2-button h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 20px;
}

.button-content {
  width: Fill 584px;
  height: 64px;
  gap: 32px;
  opacity: 0px;
  display: flex;
}
.style-button {
  width: 177px;
  height: 64px;
  padding: 16px 28px 16px 32px;
  gap: 8px;
  border: solid 1px;
  border-radius: 32px;
  opacity: 0px;
  background-color: #ff3d9a;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
}
.button-apply {
  width: 257px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  gap: 8px;
  border-radius: 32px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  border: 2px solid;
  border-radius: 32px;
  font-family: Poppins;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
/*  page 2 */
.section-page-2 {
  width: 1512px;
  height: 924px;
  padding: 80px 0px 80px 0px;
  gap: 0px;
  background: #1e1f27;
  display: flex;
}

.main_content {
  width: 1208px;
  height: 764px;
  gap: 80px;
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
}

.content-h2 {
  width: 1208px;
  height: 134px;
}

.title_h2 {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}

.stats {
  width: 1208px;
  height: 144px;
  gap: 40px;
  display: flex;
  margin-top: 80px;
}

.animal_rescued {
  width: 376px;
  height: 144px;
  gap: 16px;
}

.animal_raised {
  width: 376px;
  height: 144px;
  gap: 16px;
}
.animal_tails {
  width: 376px;
  height: 144px;
  gap: 16px;
}
.number_animal {
  width: 376px;
  height: 77px;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f8db46;
}
.label_animal {
  width: 376px;
  height: 51px;
  gap: 0px;

  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}

.container-dogs {
  width: 1208px;
  height: 326px;
  gap: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery {
  gap: 60px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  gap: 20px;
  -ms-text-overflow-style: none;
  scrollbar-width: none;
}

.content-dog-1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.icon-dog {
  width: 44px;
  height: 44px;
  gap: 0px;
  border-radius: 21;
  opacity: 0px;
  align-self: center;
}
.input-boxes {
  border: solid 2px #fff;
  border-radius: 10px;
}
.checkboxes {
  width: 144px;
  height: 16px;
  gap: 16px;
  opacity: 0px;
  align-self: center;
}

.content-dogs-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.item {
  flex: 0 0 auto;
}

/* page3 */

.section-page3 {
  width: 1512px;
  height: 1117px;
  padding: 80px 0px 120px 0px;
  gap: 0px;
  opacity: 0px;
  background-color: #1e1f27;
}

.container-page3 {
  width: 1208px;
  height: 917px;
  gap: 80px;
  opacity: 0px;
  margin: auto;
}
.content-h2 {
  width: 1208px;
  height: 67px;
  gap: 80px;
  opacity: 0px;
}
.style-h2 {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}

.container-cards {
  width: 1208px;
  height: 770px;
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  margin-top: 40px;
  justify-items: center;
  padding: 30px;
}
.first-content {
  width: 1208px;
  height: 355px;
  gap: 40px;
  display: flex;
  justify-content: center;
}
.card-one {
  width: 376px;
  height: 355px;
  padding: 36px 0px 0px 0px;
  gap: 0px;
  border: 2px solid white;
  border-radius: 24px;
  color: white;
}
.card-shelter {
  width: 304px;
  height: 283px;
  padding: 24px 0px 0px 0px;
  gap: 16px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}
.shelter-title {
  width: 304px;
  height: 51px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10px;
}
.style-h5 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  display: flex;
  align-self: lef;
  margin-top: 30px;
}

.shelter-text {
  width: 304px;
  height: 192px;
  gap: 0px;
  opacity: 0px;
}
.style-p-shelter-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  text-align: left;
}
.img-shelter {
  width: 100px;
  height: 100px;
  border-radius: 50px 0px 0px 0px;
}
/* second cards */

.second-cards-container {
  display: flex;
  width: 1208px;
  height: 355px;
  gap: 40px;
  background-color: blue;
}

/* page4 */
.main_container-page4 {
  width: 1512px;
  height: 907px;
  padding: 80px 0px 120px 0px;
  gap: 0px;
}
.main-content-Adoption {
  display: flex;
  margin: auto;
  width: 1208px;
  height: 707px;
  gap: 24px;
  margin-top: 100px;
}
.div-h2-page4 {
  display: flex;
  margin: auto;
  width: 1208px;
  height: 67px;
  gap: 40px;
}
.style-h2-p4 {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: auto;
}
.content_block {
  width: 584px;
  height: 616px;
  opacity: 0px;
}
.text_Block {
  display: flex;
  width: 584px;
  height: 616px;
  gap: 32px;
}
.text-Applicants {
  width: 584px;
  height: 439px;
  gap: 20px;
  opacity: 0px;
  margin-top: 20px;
  margin-left: 20px;
}
.custom-title {
  width: 584px;
  height: 51px;
}

.text-style-page4 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #1e1f27;
}
.content-ul {
  width: 584px;
  height: 368px;
  gap: 0px;
  opacity: 0px;
}
.customAll {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
}
.button-adop button {
  width: 217px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  border: solid 2px;
  border-radius: 32px;
  background-color: #1e1f27;
  color: white;
  gap: 8px;
  font-size: 20px;
  margin-left: 40px;
}
.main-section-page5 {
  width: 1512px;
  height: 732px;
  padding: 80px 0px 80px 0px;
  background-color: #1e1f27;
}
.main_content-page5 {
  width: 1208px;
  height: 572px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 80px;
  opacity: 0px;
}
.box-title {
  display: flex;
  margin: 0 auto;
  width: 1208px;
  height: 134px;
  gap: 110px;
}
.style-h2-page5 {
  margin: auto;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.01em;
  text-align: center;
  color: white;
}

.cards-page5 {
  display: flex;
  width: 1208px;
  height: 358px;
  gap: 40px;
  opacity: 0px;
}
.box-adopt {
  width: 272px;
  height: 358px;
  gap: 32px;
  border-radius: 24px;
  border: solid 2px white;
}
.box-text-page5 {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  margin-top: 40px;
  width: 224px;
  height: 150px;
  gap: 16px;
}
.box-title-cards {
  display: flex;
  width: 224px;
  height: 38px;
  justify-content: center;
}
.style-span {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.02em;
  display: flex;
  color: white;
}
.box-text-cards {
  width: 224px;
  height: 96px;
  gap: 0px;
  opacity: 0px;
}
.style-p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: white;
}

.button-custom button {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 30px;
  width: 154px;
  height: 50px;
  padding: 16px 0px 0px 0px;
  border: solid 1px #1e1f27;
  border-radius: 16px;
  background-color: #04c27f;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
}
.button-custom-1 button {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 30px;
  width: 154px;
  height: 50px;
  padding: 16px 0px 0px 0px;
  border: solid 1px #1e1f27;
  border-radius: 16px;
  background-color: #f1d06e;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
}
.button-custom-2 button {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 30px;
  width: 154px;
  height: 50px;
  padding: 16px 0px 0px 0px;
  border: solid 1px #1e1f27;
  border-radius: 16px;
  background-color: #ff3d9a;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
  color: white;
}
.button-custom-3 button {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 30px;
  width: 154px;
  height: 50px;
  padding: 16px 0px 0px 0px;
  border: solid 1px #1e1f27;
  border-radius: 16px;
  background-color: #5758f1;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
  color: white;
}
/* page 6 */
.main-content-page6 {
  position: relative;
  display: flex;
  width: 1512px;
  height: 280px;
  padding: 80px 0px 120px 0px;
  gap: 0px;
  opacity: 0px;
  background-color: #1e1f27;
  justify-content: center;
  overflow: hidden;
}
.box-title-page6 {
  width: 1208px;
  height: 282px;
  gap: 60px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  position: relative;
  z-index: 2;
  text-align: center;
}

.h2-find-your {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  margin: auto;
}
.style-best-friend {
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: yellow;
}

.subtitle {
  width: 1208px;
  height: 155px;
  gap: 40px;
  margin-bottom: 10px;
}

.text2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  margin: auto;
}
.div-cat,
.div-dog {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.div-cat {
  left: 56px;
  margin-top: 40px;
}

.div-dog {
  right: 88px;
  margin-top: 40px;
}

.img-cat-page6,
.img-dog-page6 {
  width: 300px;
  height: 400px;
}
.button-page6 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 1208px;
  height: 64px;
  gap: 24px;
}
.button-style-page6 {
  width: 238px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  gap: 8px;
  border: solid 2px;
  border-radius: 32px;
  background-color: #f8db46;
  font-family: Poppins;
  font-weight: 700;
  line-height: 28px;
  color: #1e1f27;
  font-size: 18px;
}
.button-adopt {
  width: 217px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  gap: 8px;
  border: solid 2px;
  border-radius: 32px;
  background-color: #1e1f27;
  color: white;
  font-size: 18px;
  text-align: center;
}
.main-subscribe {
  display: flex;
  justify-content: center;
  width: 1512px;
  height: 250px;
  padding: 80px 0px 80px 0px;
  gap: 60px;
  opacity: 0px;
  background-color: #5758f1;
}
.main-container-page6 {
  width: 1208px;
  height: 271px;
  gap: 60px;
  opacity: 0px;
  margin: auto;
}
.title-subscribe {
  display: flex;
  width: 1208px;
  height: 147px;
  gap: 12px;
  opacity: 0px;

  justify-content: center;
  flex-flow: column;
}
.style-title-subscribe {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
  margin: 0;
}
.text-subscribe {
  display: flex;
  align-self: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: white;
}
.input-email {
  display: flex;
  width: 1208px;
  height: 64px;
  gap: 24px;
  opacity: 0px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.input-style {
  width: 156px;
  height: 10px;
  padding: 16px 136px 16px 24px;
  gap: 8px;
  border: solid 2px white;
  border-radius: 32px;
  background-color: transparent;
  color: white;
}

.style-button-subscribe {
  display: flex;
  align-items: center;
  width: 140px;
  height: 48px;
  padding: 16px 32px 16px 28px;
  gap: 8px;
  border: solid 2px white;
  border-radius: 32px;
  opacity: 0px;
  background-color: white;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #1e1f27;
}
footer {
  width: 1512px;
  height: 603px;
  padding: 80px 0px 80px 0px;
}

footer .container-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1208;
  height: 443px;
  gap: 60px;
}
footer .container-footer ul {
  width: 15%;
}
.div-contact {
  display: flex;
  width: 272px;
  height: 64px;
  gap: 12px;
}

.div-contact img {
  width: 24px;
  height: 24px;
}
.div-contact span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.div-contact-phone {
  display: flex;
  width: 272px;
  height: 32px;
  gap: 12px;
  align-items: center;
}

.div-contact-phone img {
  width: 24px;
  height: 24px;
}

.div-contact-phone span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.container-ul1 {
  display: flex;
  flex-flow: column nowrap;
  width: 272px;
  height: 232px;
  gap: 24px;
  margin-top: 20px;
  margin-left: 40px;
}
.div-contact-email {
  display: flex;
  width: 272px;
  height: 32px;
  gap: 12px;
  opacity: 0px;
  margin-top: 20px;
  align-items: center;
}

.div-contact-email img {
  width: 24px;
  height: 24px;
}
.div-contact-email span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  width: 236px;
  height: 32px;
}
.i-contact {
  display: flex;
  width: 272px;
  height: 32px;
  gap: 20px;
}
.container-ul2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 272px;
  height: 272px;
  justify-content: center;
  gap: 16px;
}
.content-ways {
  width: 272px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
}
.content-ways span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #1e1f27;
}
.container-log {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 242px;
  gap: 19px;
  opacity: 0px;
}

.container-log span {
  display: flex;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.container-log p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #1e1f27;
}
.icon-heart {
  width: 36px;
  height: 36px;
  padding: 5.7px 3.48px 4.27px 3.48px;
  gap: 0px;
  opacity: 0px;
}
.content-title-footer span {
  display: flex;
  width: 272px;
  height: 72px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.icon-heart {
  display: flex;

  margin: 26px 100px 0px 0px;
}
.linha {
  display: flex;
  width: 1208px;
  margin: 0 auto;
  border: solid 1px #1e1f27;
  border-radius: 32px;
}
.last-text {
  width: 1208px;
  height: 51px;
  gap: 12px;
  opacity: 0px;
  margin: auto;
  margin-top: 88px;
}

.last-text p {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: black;
}
.last-text span {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9047bb2;
}
/* section--page adoptables */

.section-adoptables {
  width: 1512px;
  height: 1289px;
  padding: 80px 0px 80px 0px;
  background-color: #1e1f27;
}
.container-page-adoptable {
  margin: auto;
  width: 1208px;
  height: 1129px;
  gap: 80px;
}
.text-information {
  width: 1208px;
  height: 211px;
  gap: 80px;
  opacity: 0px;
}
.back-button button {
  width: 156px;
  height: 64px;
  gap: 8px;
  background-color: #37383f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid 3px #37383f;
  border-radius: 32px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: white;
}
.title-adoptables-pet h2 {
  width: 1208px;
  height: 67px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}
.content-photoss {
  display: flex;
  width: 1208px;
  height: 920px;
  gap: 60px;
  opacity: 0px;
}

.card-1 {
  width: 250px;
  height: 389px;
  gap: 12px;
  opacity: 0px;
}
.name-dogs p {
  width: 250px;
  height: 51px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 51.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}
.button-see-more button {
  width: 250px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  gap: 8px;
  border-radius: 32px;
  border: solid 2px #ff3d9a;
  opacity: 0px;
  background-color: #ff3d9a;
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: white;
}
.c-card {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 300px);
}

/* modal donate */

.container-donate {
  width: 480px;
  height: 716px;
  /*  top: -4255px;
  left: 3120px;  */
  padding: 32px 0px 0px 0px;
  gap: 48px;
  border-radius: 32px;
}

.content-h2-donate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 416px;
  height: 116px;
  gap: 0px;
  opacity: 0px;
}
.content-h2-donate h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;
  color: #1e1f27;
}
.content-h2-donate p {
  display: flex;
  margin: auto;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #1e1f27;
}

.container-input-donate {
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 416px;
  height: 488px;
  gap: 24px;
  opacity: 0px;
  margin-top: 40px;
}
.input-email-donate {
  display: flex;
  flex-flow: column nowrap;
}
.input-email-donate2 {
  display: flex;
  flex-flow: column nowrap;
}
.input-email-donate2 p {
  font-weight: 700;
  color: #ff3d9a;
}
.input-email-donate2 p span {
  color: rgb(0, 119, 255);
}
.input-email-donate2 input {
  border: solid 1px #937aff;
  border-radius: 8px;
}
.input-style-2 {
  width: 256px;
  height: 20px;
  padding: 16px 136px 16px 24px;
  gap: 8px;
}
.input-email-donate p {
  font-weight: 700;
  color: #ff3d9a;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.input-email-donate p span {
  color: rgb(0, 119, 255);
}
.input-email-donate input {
  border: solid 1px #3f96fc;
  border-radius: 8px;
}

.input-style-2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: -0.02em;
  appearance: textfield;
}

.payment {
  width: 416px;
  height: 104px;
  gap: 8px;
  opacity: 0px;
}
.method-pay {
  display: flex;
  width: 416px;
  height: 80px;
  gap: 8px;
  opacity: 0px;
}
.pix {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 133.33px;
  height: 56px;
  gap: 8px;
  border: solid 1px;
  border-radius: 8px;
  opacity: 0px;
}
.pix span {
  display: flex;
  width: 69.33px;
  align-items: center;
  height: 50px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.button-help button {
  display: flex;
  align-items: center;
  width: 249px;
  height: 64px;
  padding: 16px 32px 16px 32px;
  gap: 8px;
  border-radius: 32px;
  border: #ff3d9a;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  background-color: #ff3d9a;
  color: white;
}
.button-help {
  display: flex;
  margin: auto;
}
dialog::backdrop {
  background-color: rgb(0 0 0/0.5);
}

.donate-dialog {
  border: none;
  border-radius: 32px;
  box-shadow: 0 0 1em rgb(0 0 0/0.3);
  top: 60%;
  left: 2606px;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  gap: 48px;
  padding: 32px;
}
.donate-dialog-view {
  border: none;
  border-radius: 32px;
  box-shadow: 0 0 1em rgb(0 0 0/0.3);
  top: 90%;
  left: 2606px;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  gap: 48px;
  padding: 32px;
}

.apply-dialog {
  border: none;
  border-radius: 32px;
  box-shadow: 0 0 1em rgb(0 0 0/0.3);
  top: 60%;
  left: 2606px;
  transition: 0.6s;
  transform: translate(-50%, -50%);
}
.modal-aberto {
  display: block;
  overflow: hidden;
}
.dob-label {
  display: block;
  margin-bottom: 5px;
  color: #e91e63; /* Pink color */
  font-weight: bold;
}

.dob-container {
  display: flex;
  gap: 10px;
}

select {
  display: flex;
  width: 160px;
  height: 56px;
  gap: 8px;
  border-radius: 8px;
  border: solid 2px rgb(0, 119, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

.payment p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #ff3d9a;
}
.payment p span {
  color: #3f96fc;
}
.container-agree {
  display: flex;
  flex-flow: column nowrap;
  width: 418px;
  height: 176px;
  gap: 12px;
  opacity: 0px;
}
.checked-agree {
  display: flex;
  align-items: center;
  width: 384px;
  height: 24px;
  gap: 12px;
  opacity: 0px;
}
.checked-agree p {
  color: #1e1f27;
}
.checked-agree p a {
  padding: 2px;
  color: #ff3d9a;
}

.button-confirmed button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 64px;
  gap: 24px;
  opacity: 0px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border: #04c27f;
  border-radius: 8px;
  opacity: 0px;
  background-color: #04c27f;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.button-confirmed2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 64px;
  gap: 24px;
  opacity: 0px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border: #37383f;
  border-radius: 8px;
  opacity: 0px;
  background-color: #37383f;
  color: white;
  font-size: 20px;
}
